@{
    ViewData["Title"] = "Contact Organization";
}
<h2>Contact Information</h2>

<h3>Bishop Don Speaker</h3>

<address>
    1114 E Rojo street<br />
    Giblert, Arizona 85297<br />
    Phone: 480-933-3739<br />
    Bishop Email: <a href="mailto:bishopspeaker@gmail.com">BishopSpeaker@gmail.com</a>
</address>

<h3>Evan Vance, Bishopric First Counselor</h3>

<address>
    4708 S. Griswold<br />
    Giblert, Arizona 85297<br />
    Phone: 480-226-6342
</address>

<h3>Brandon Basha, Bishopric Second Counselor</h3>

<address>
    3023 E Bluebird Place<br />
    Chandler, Arizona 85286<br />
    Phone: 480-201-0200
</address>

<h3>Karson Donaldson Ward Executive Secretary</h3>

<address>
    3088 E Goldfinch Way<br />
    Chandler, Arizona 85286<br />
    Phone: 602-881-6729
</address>

<address>
    <strong>Web Support:</strong> <a href="mailto:bashamjr2@gmail.com">bashamjr1@gmail.com</a><br />

</address>
