@{
    ViewData["Title"] = "Cooper 2nd Ward Sacrament Planner";
}
<div class="row">
    <div class="col-md-6">
        <h1>Cooper 2<sup>nd</sup> Ward<br /> Sacrament Planner</h1>
        <blockquote>"This general conference marks the beginning of a new era of ministering. The Lord has made important adjustments in the way we care for each other. Sisters and brothers—old and young—will serve one another in a new, holier way."<br />- President Russell M. Nelson</blockquote>
    </div>
    <div class="col-md-6">
        <img src="~/images/NelsonCrop.png" alt="banner" width="500px" height="auto"/>
    </div>
</div>


